// 主题色
$color-theme: #0a342d;

// 副主题色
$color-sub-theme: #a7d7c5;

$color-title: #31c27c;
$color-text-white: #fff;
$color-text-bright: rgba(255, 255, 255, .8);
$color-text-dark: rgba(255, 255, 255, .5);

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
